.Lorem , .Lorem-ipsum {
    text-transform: uppercase;


}
.Lorem-ipsum {

    color: blue111111111;
}
.back {
    background-color: pink;
    color: white;
}
   .inch {
    background-color: lightblue;
    padding: 2px;
    margin:  2px;
   }