html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
font-family: Arial, Helvetica, sans-serif;
 margin: 0;
padding: 0;
background-color: #41BFB3;
  }
  h1 {
    font-family: 'Kenia', cursive;
  }
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color:#C2C0A6;
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset {
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	border: 1px solid black;
	font-family: 'Kenia', cursive;
}
h3 { 
  font-weight: bold;
  border:  1px solid black; 
  font-family: 'Kenia', cursive;
  text-align: center;

}
label {
	display: block;
}
textarea {
	height: 10rem;
	padding: 1rem;
}

select {
font-size 1rem;
font-weight:1.5rem ;
}
button {
color: brown;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	font-weight: 10px;
	font-size: larger;
	margin-top: 2rem;
}
button:hover {
	background-color: #41BFB3;
	border: 5px;}

  address {
    text-align: center;
  }  

	  img{
		
		width: 170px;
		height:200px;	
		border-radius:100% ;
		margin-right: 90px;
		
	  }

	  footer {
		text-align: center;
		border: 10px;
		background-color: aqua;
	  }
 







