.container {
    display: grid;
   
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 
    " header header   header"
    "box2 box3 box4"
    "box2 box5 "
    "box6 box7 "
    "box8 box8 box8 "
    ;    
}

.box1 {

    background-color: red;
    grid-area: header;
}