body{
    background-color:rgb(82, 35, 82) ;
    text-align: center;
    margin:3px;
    padding:5px;
    color: beige;
}

button{
     margin-top: 15px;
     background-color: aquamarine;

}

input{     
    padding:5px;
    margin: 5px;
}