body {
    margin-left: 0%;
    background-color: #DE359D;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    
    margin-bottom: auto;
    }

img {
    width: 450px; 
    height: 300px;
    margin: 20px;
    border: 2px solid black;
     }

.animals {
     
    display: flex;
    flex-direction: column;
    max-width: 750px;
 }
 

p {
    font-family: fantasy;
    font-size: larger;  
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    margin-bottom:310px ;  
    border: 3px solid black; 
    padding: 0.2%; 
    max-height: 300px;
    background-color: #FA6E4D;
}
footer {
    clear: both;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    border: 5px solid black;
    padding: 1%;
    max-width: 70%;
    margin-left: 3%;
    background-color:#DE919DF5 ;
}